@tailwind base;
@tailwind components;
@tailwind utilities;

.signUpPage{
  @apply flex items-center justify-center min-h-[calc(100vh-50px)] py-20 px-4 md:px-0 bg-gradient-to-r from-primary to-accent;
}