@tailwind base;
@tailwind components;
@tailwind utilities;

.signUpInPage {
  @apply flex items-center justify-center min-h-[calc(100vh-50px)] py-20 px-4 md:px-0 bg-gradient-to-r from-primary to-accent;
}

.signUpInPanel {
  @apply w-full max-w-md p-8 space-y-6 rounded-lg shadow-md bg-base-200;
}

.signUpInHeader {
  @apply text-2xl font-bold text-center;
}

.signInUpInput {
  @apply input input-bordered input-primary w-full;
}
